useDynLib(ardblas)
export(
	is.gpu.vector,
	is.increment,
	is.regular.vector,
	gpu.set.vector,
	gpu.get.vector,
	advance.pointer,
	gpu.asum,
	gpu.axpy,
	gpu.copy,
	gpu.dot,
	gpu.nrm2,
	gpu.scal,
	gpu.swap,
	gpu.rot,
	gpu.rotm,
	is.gpu.matrix,
	is.leading.dimension,
	is.regular.matrix,
	gpu.set.matrix,
	gpu.get.matrix,
	is.matrix.storage.spec,
	gpu.gbmv,
	gpu.gemv,
	gpu.ger,
	gpu.sbmv,
	gpu.spmv,
	gpu.spr,
	gpu.spr2,
	gpu.symv,
	gpu.syr,
	gpu.syr2,
	gpu.tbmv,
	gpu.tbsv,
	gpu.tpmv,
	gpu.tpsv,
	gpu.trmv,
	gpu.trsv,
	gpu.gemm,
	gpu.symm,
	gpu.syrk,
	gpu.syr2k,
	gpu.trmm,
	gpu.trsm
)
